/* Utilities */
.container {
  max-width: 1100px !important;
  margin: auto !important;
  overflow: hidden !important;
  padding: 0 2rem !important;
  margin-top: 6rem !important;
  margin-bottom: 3rem !important;
}
.gif {
  float: right;
  background-size: 50%;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
}

button:hover {
  background-color: #44c184;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
}
